/* *{
    margin: 0;
    padding: 0;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.jokebox{
    transform: translateX(85px);
    height: 200px;
    width: 700px;
    background-color: rgb(240, 240, 43);
    box-sizing: border-box;
    box-shadow: 0 0 30px gold;
    border: 2px solid gold;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.jokebox:hover{
box-shadow:
  0 0 10px gold,
  0 0 20px red,
  0 0 40px green;
  /* transform: scaleY(1.05); */

}
.jokebox textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
    transform: translateY(-40px) ;
    background-color: black;
    color: antiquewhite;
    font-size: large;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px green;
    border: 2px solid gold;
    border-radius: 10px;
    transform:translateY(-70px);

}
.jokebox textarea:hover{
    box-shadow: 0 0 20px blue;

}
.joketeller{
    white-space: nowrap;
    transform: translate(-330px,-150px);
    font-size: larger;
    color: gold;
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 30px red;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    
}